@font-face {
    font-family: "suite";
    src: url(font/SUITE-Regular.ttf);
}
@font-face {
    font-family: "omyu";
    src: url(font/오뮤_다예쁨체.ttf);
}
@font-face {
    font-family: "jamsil_bold";
    src: url(font/The\ Jamsil\ 5\ Bold.ttf);
}
@font-face {
    font-family: "jamsil";
    src: url(font/The\ Jamsil\ 3\ Regular.ttf);
}
@font-face {
    font-family: "dove";
    src: url(font/Dovemayo_wild.ttf);
}
@font-face {
    font-family: "dovegothic";
    src: url(font/Dovemayo_gothic.ttf);
}

.mycustom-menuList_main_image{
    width: 100%;
    height: 350px;
}

.mycustom-tab_content{
    margin-top: 10px;
}

.mycustom-sticky_menu{
    background-color: #fff;
    position: sticky;
    top: -0.1px;
}

.mycustom-rest_name{
    font-family: "dovegothic";
    padding-top: 10px;
    text-align: center;
}

.mycustom-rest_direction{
    font-family: "dovegothic";
    text-align: center;
    margin-bottom: 20px;
}

.mycustom-restInfo_card{
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-width: 10px;
    border-color: #f7f7f7;
}

.mycustom-restInfo_card_title{
    font-family: "dovegothic";
    font-size: 25px;
}

.mycustom-restInfo_card_text{
    margin: 5px;
    font-family: "dovegothic";
    font-size: 20px;
}

.mycustom-nav_item{
    width: 100%;
    max-width: 225px;
}

.mycustom-nav_btn{
    Width: 100%;
    font-family: "suite";
    font-size: 20px;
    color: #bebebe;
}

.mycustom-nav_btn:hover{
    color: #000;
}

.mycustom-menu_list_btn{
    width: 100%;
    border: none;
    padding: 0;
    background-color: transparent;
    font-family: "jamsil";
    font-size: 20px;
}

.mycustom-menu_list_group_item{
    width: 100%;   
}

.mycustom-menu_img{
    width: 100px;
    height: 80px;
    margin-right: 20px;
}

.mycustom-menu_info{
    width: 100%;
    text-align: left;
}

#staticMap img{
    max-width: none;
	height: auto;
	border: 0
}

.mycustom-rieview_card{
    border: none;
}

.mycustom-rieview_img{
    max-width: 100%;
}




/* menuInfo css */

.mycustom-menuInfo_menubar{
    position: sticky;
    top: -0.1px;
}

.mycustom-menuinfo_area{
    margin-top: 20px;
    margin-bottom: 90px;
}

.mycustom-menu_info_list{
    list-style: none;
    padding: 0;
    font-family: "suite";
}

.mycustom-menuInfo_title{
    font-family: "suit";
    font-size: 30px;
    font-weight: bold;
}

.mycustom-menu_info_icon_btn{
    width: 35px;
    height: 30px;
    border: 0;
    background-color: transparent;
}

.mycustom-menu_info_icon{
    width: 35px;
    height: 30px;
}

.mycuston-menu_info_img{
    max-width: 100%;
}

.mycustom-menuInfo_footer{
    background-color: #fff;
    border-top: solid 2px #bebebe;
    max-width: 700px;
    height: 80px;
}
.mycustom-cart_btn{
    min-width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border:0;
    background-color: #6600db;
    color: #fff;
    font-family: "suite";
    font-size: 35px;
}

.mycustom-menuInfo_count{
    padding: 0;
}

.mycustom-menuInfo_menu_title{
    font-size: 40px;
    font-weight: bold;
}

.mycustom-menuInfo_menu_etc{
    font-size: 25px;
    margin-bottom: 20px;
}

.mycustom-menuInfo_menu_foodMaterial{
    font-size: 20px;
}

.mycustom-menuInfo_menu_price{
    padding: 0;
    border-bottom: solid 10px #e9e9e9;
    padding-bottom: 10px;
}

.mycustom-menuInfo_count_num{
    font-family: "suite";
    font-size: 25px;
    font-weight: bold;
    border: 0;
    margin: 0;
    text-align: center;
    background-color: transparent;
}

.mycustom-menuInfo_count_box{
    border: solid 2px #e9e9e9;
    position: relative;
}

.translate-middle {
    transform: translate(-20%,-40%)!important;
}


  
  
  
  
  